In [3]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as pl

In [5]:
df_train = pd.read_csv('train_data.csv')
df_train.head(5)

,MEASURED_IN_DATE,WELL_NAME,KCHARWORK,CHARWORK,MEASURED_IN,LIQ_RATE,WATER_CUT,P_ZAB,INTAKE,WELLHEAD_PRESSURE,IS_WORKING
0,2017-02-01 00:00:00,9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...,20.0,НАГ,2017-02-01 12:00:00,0.0,0.0,NaN,225.0,150.0,True
1,2017-02-02 00:00:00,9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...,20.0,НАГ,2017-02-02 00:00:00,0.0,0.0,NaN,225.0,150.0,True
2,2017-02-03 00:00:00,9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...,20.0,НАГ,2017-02-03 00:00:00,0.0,0.0,NaN,225.0,150.0,True
3,2017-02-04 00:00:00,9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...,20.0,НАГ,2017-02-04 00:00:00,0.0,0.0,NaN,225.0,150.0,True
4,2017-02-05 00:00:00,9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...,20.0,НАГ,2017-02-05 00:00:00,0.0,0.0,NaN,225.0,150.0,True

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177575 entries, 0 to 177574
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   MEASURED_IN_DATE   177575 non-null  object
 1   WELL_NAME          177575 non-null  object
 2   KCHARWORK          177575 non-null  float64
 3   CHARWORK           177575 non-null  object
 4   MEASURED_IN        177575 non-null  object
 5   LIQ_RATE           177575 non-null  float64
 6   WATER_CUT          177575 non-null  float64
 7   P_ZAB              166194 non-null  float64
 8   INTAKE             177575 non-null  float64
 9   WELLHEAD_PRESSURE  50393 non-null   float64
 10  IS_WORKING         177575 non-null  bool
dtypes: bool(1), float64(6), object(4)
memory usage: 13.7+ MB

### MEASURED_IN_DATE - дата замера

In [13]:
df_train['MEASURED_IN_DATE'].value_counts()

2022-02-19 00:00:00    237
2022-02-10 00:00:00    236
2022-02-18 00:00:00    236
2022-02-17 00:00:00    236
2022-02-11 00:00:00    236
                      ...
2016-08-24 00:00:00      1
2016-08-25 00:00:00      1
2016-08-26 00:00:00      1
2016-08-12 00:00:00      1
2016-08-11 00:00:00      1
Name: MEASURED_IN_DATE, Length: 2122, dtype: int64

In [16]:
df_train['MEASURED_IN_DATE'].unique()

array(['2017-02-01 00:00:00', '2017-02-02 00:00:00',
       '2017-02-03 00:00:00', ..., '2016-10-10 00:00:00',
       '2016-10-11 00:00:00', '2016-10-12 00:00:00'], dtype=object)

In [17]:
df_train['MEASURED_IN_DATE'] = pd.to_datetime(df_train['MEASURED_IN_DATE'])  # без времени, нах оно вообще
df_train.MEASURED_IN_DATE.head()

0   2017-02-01
1   2017-02-02
2   2017-02-03
3   2017-02-04
4   2017-02-05
Name: MEASURED_IN_DATE, dtype: datetime64[ns]

### WELL_NAME - название скважины (хеш)

In [18]:
df_train['WELL_NAME'].head()

0    9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...
1    9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...
2    9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...
3    9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...
4    9e4912342a7d40c2a7bcd2f62852ad91ea0923333d0f55...
Name: WELL_NAME, dtype: object

In [20]:
df_train['WELL_NAME'].value_counts()

52bbe66ef9a85fe24d6316b76ab1a031425d6347309408cc0c567c495072013d    1785
30c0c46c2c9237e4974b9eb606b62997183a96f0e6c4d271185fd80b0c7f1e9f    1756
aebc60b8446bd0a77ff9f51006a8d675f29b1a90d5fac29b1ac755b9a9b31cb8    1742
cb9891b52b15cf1707933d8b826ba577d62c7db0b737c2d93dc16f872bdd15d4    1739
b62c02291153de16e2fa26cd270acfdb173eaa3b8c09d715ee7d4fa97c9ce6b7    1719
                                                                    ...
37ab19dd86d58afdbc05b7d2277e54f59c326e47ca6c51b4df4a3fec1d7c4799      29
2e22155c7f6a0a6080b87a130da7fced91022e48fb48532f49b61cc420e0f848      28
25376dacefd71544684fd4a4f997ca419f9ff5348aa6818eacca23311970cd3f      26
d6c5adc9c487ec80025afad989bf2773784300dff31ded5d7f55946f18cc1963       9
0b91402ba2f480687938fa3fa7ec844380c578a46df9b2bc2884daf8dbf8b540       2
Name: WELL_NAME, Length: 266, dtype: int64

### KCHARWORK - ключ режима работы скважины

In [24]:
df_train['KCHARWORK'].head()

0    20.0
1    20.0
2    20.0
3    20.0
4    20.0
Name: KCHARWORK, dtype: float64

In [25]:
df_train['KCHARWORK'].value_counts() # бинарная колонка, на тесте и практике, не факт что будет бинарной, но мы можем ебаунть вахот

11.0    127105
20.0     50470
Name: KCHARWORK, dtype: int64

### CHARWORK - режим работы скважины

In [26]:
df_train['CHARWORK'].head()

0    НАГ
1    НАГ
2    НАГ
3    НАГ
4    НАГ
Name: CHARWORK, dtype: object

In [27]:
df_train['CHARWORK'].value_counts() # бинарная

НЕФ    127105
НАГ     50470
Name: CHARWORK, dtype: int64

### MEASURED_IN - дата и время замера

In [33]:
df_train['MEASURED_IN'].head()

0    12:00:00
1    00:00:00
2    00:00:00
3    00:00:00
4    00:00:00
Name: MEASURED_IN, dtype: object

In [31]:
df_train['MEASURED_IN'] = pd.to_datetime(df_train['MEASURED_IN']).dt.time

In [32]:
df_train['MEASURED_IN'].value_counts()

00:00:00    175998
02:00:00       207
02:02:00       186
02:01:00       171
02:10:00        59
             ...
09:06:00         1
09:07:00         1
10:34:00         1
13:02:00         1
11:38:00         1
Name: MEASURED_IN, Length: 412, dtype: int64

In [ ]:
# хз нах оно надо

### P_ZAB - забойное давление, атм

In [34]:
df_train['P_ZAB'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: P_ZAB, dtype: float64

In [35]:
df_train['P_ZAB'].value_counts()

171.56    1721
49.42     1712
114.91    1656
94.69     1615
169.73    1495
          ...
156.92       1
154.24       1
122.25       1
167.90       1
119.66       1
Name: P_ZAB, Length: 12120, dtype: int64

### INTAKE - приемистость, м3/сут

In [36]:
df_train['INTAKE'].head()

0    225.0
1    225.0
2    225.0
3    225.0
4    225.0
Name: INTAKE, dtype: float64

In [37]:
df_train['INTAKE'].value_counts()

0.0       127105
225.0       1025
250.0        320
204.0        291
648.0        209
           ...
1221.0         1
1229.0         1
1446.0         1
85.0           1
1160.0         1
Name: INTAKE, Length: 1500, dtype: int64

### WELLHEAD_PRESSURE - устьевое давление

In [38]:
df_train['WELLHEAD_PRESSURE'].head()

0    150.0
1    150.0
2    150.0
3    150.0
4    150.0
Name: WELLHEAD_PRESSURE, dtype: float64

In [39]:
df_train['WELLHEAD_PRESSURE'].value_counts()

140.0    3343
130.0    3062
155.0    2949
150.0    2296
141.0    2248
         ...
73.0        3
68.0        3
82.0        2
102.0       2
164.0       2
Name: WELLHEAD_PRESSURE, Length: 93, dtype: int64

### IS_WORKING - состояние скважины

In [40]:
df_train['IS_WORKING'].head() # бинарный кал

0    True
1    True
2    True
3    True
4    True
Name: IS_WORKING, dtype: bool

## Features

### LIQ_RATE - дебит жидкости, м3/сут

In [41]:
df_train['LIQ_RATE'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: LIQ_RATE, dtype: float64

In [42]:
df_train['LIQ_RATE'].value_counts()

0.0       50470
70.0        594
71.0        540
74.0        535
68.0        533
          ...
1151.0        1
1410.0        1
1440.0        1
1427.0        1
1497.0        1
Name: LIQ_RATE, Length: 1538, dtype: int64

### WATER_CUT - обводненность (объемная), %

In [43]:
df_train['WATER_CUT'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: WATER_CUT, dtype: float64

In [44]:
df_train['WATER_CUT'].value_counts()

0.0     50491
4.0      6991
3.0      6618
5.0      5795
1.0      4267
        ...
97.0       72
99.9       44
99.0       11
98.0        9
0.5         7
Name: WATER_CUT, Length: 102, dtype: int64